@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
        * {
          box-sizing: border-box;
        }
        body{
                      font-size: 1em;
                      
        }
        h2{
            text-align: center;
            /* color: black; */
            color: #f15e2a;
           font-family: unicons;
        }
        
        input[type=text], select, textarea {
          width: 100%;
          padding: 12px;
          color: black;
          font-size: 1em;
          text-align: center;
          /* background-image: linear-gradient(to left,#f15e2a,white ); */
          background-color: whitesmoke;
          border-bottom: 1px solid black;
          margin-bottom: 1%;
          border-radius: 4px;
          resize: vertical;
        }
        
        label {
          padding: 12px 12px 12px 0;
          display: inline-block;
          color: black;
          font-weight: lighter;
        }
        textarea{
            color: black;
            border: 1px solid black;
        }
      
        
        .container {
          border-radius: 5px;
        /*  background-image:linear-gradient(to left,#f15e2a,white );*/
        /* background-color: rgb(128, 128, 128,0.2); */
        background-color: peachpuff;
          padding: 20px;
          margin-left:10% ;
          max-width: 80%;
          align-items: center;
        }
        .fa-asterisk{
          font-size: 0.5em;
          color: red;
        }
        .col-25 {
          float: left;
          width: 35%;
          text-align: center;
          margin-top: 6px;
          margin-left: 1em;
        }
        
        .col-50 {
          float: left;
          width: 50%;
          margin-top: 6px;
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        
        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
          .col-25, .col-50, input[type=submit] {
            width: 100%;
            margin-top: 0;
          }
        }

.collapse a{
 background-color: black;
}
a{
  color: white;
}


.btn {
   
        background-color:black;
        color:linear-gradient(to left,#f15e2a,white );
        
    }
a:hover{
  background-color: white;
  color: black;
}

a,
a:hover,
a:focus {
   
    text-decoration: none;
    transition: all 0.3s;
}
.bg-light {
    background-color: transparent;
}
.navbar {
    padding: 15px 10px;
    
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
   background-color: black;
   color:white;
}


.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: -334px;
    height: 100vh;
    z-index: 999;
   background-color: black;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 20%);
}

#sidebar.active {
    left: 0;
}

#dismiss{
    background-color: black;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-image:linear-gradient(to left,#f15e2a,white );
    position: absolute;
    top: 20px;
    right: 24px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

/*#dismiss:hover {
   background-color: black;
   color: linear-gradient(to left,#f15e2a,white );
}*/

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}


#sidebar .sidebar-header {
    padding: 20px;
   background-color: black;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: white;
    padding: 10px;
}

#sidebar ul li a {
    padding: 15px;
    font-size: 0.8em;
    display: block;
    color: white;
}
#sidebar ul li a:hover{
  color:black;
}




/*#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color:black;
    background: black;
}*/
.list-unstyled {
    font-size: 1.5rem;
    font-family: 'Poppins',sans-serif;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.6em !important ;
    padding-left: 30px ;
    /*background: #6d7fcc;*/
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em ;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
/*a.download {
    background: peachpuff;
    color: black;
}*/

/*a.article,
a.article:hover {
    background: black ;
    color: #fff ;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
   
 /* background-image:linear-gradient(to left,#f15e2a,white );*/
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.container-fluid {
    display:inline;
}

  @media (max-width:367px){
    .form:hover > .search-text {
        width: 155px ;
        padding: 0 6px ;
    }
    
}
/*this is for loader*/
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 3px solid white;
    border-radius: 50%;
    border-top: 3px solid #f15e2a;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }

  #myDiv {
    display: none;
    
  }
 


 
  